.about-section {
    background-color: #132c58;
    color: antiquewhite;
}

footer {
    background-color: burlywood;
    font-size: xx-small;
    color: darkred;
}

main {
    background-color: yellow;
}

